<mat-card>
    <form [formGroup]="form" (ngSubmit)="auth.login(form.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary"[disabled]="!form.valid">Login</button>
    </form>
  </mat-card>
